html{

    
}



body {
    margin: 0 auto;
    color: #282c34;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    min-width: 100vw;
    overflow:hidden; 
    /* overflow-y:scroll; */
    /* background-image: url('./images/cucumber.png');
    background-repeat:no-repeat;
    background-position: 130% 560%;
    background-image: opacity;

    */
    background-color: #ebf0cd;
  }

  @media screen and (max-width: 600px) {
    body {
      min-width: 135vw;
      overflow:hidden;
    }
  }

  #bg{
      position: fixed;
      height: 100%;
      bottom:-550px;
      left:70%;
      opacity: 0.3;
      overflow: hidden;
      z-index: -999;
  }

  .rotate {
    animation: rotation 8s infinite linear;
    opacity: 0.6;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  #title{
    /* white-space: nowrap;  */
    /* fixes wrap */
      width:100vw;
      line-height: 3em;
      min-height: 30px;
      overflow:hidden;
    font-weight:bold;
    justify-content: center;
    padding: 50px;
    
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
  }

  #logo{
    position: fixed;
    z-index: -999;
    top:50px;
    left:130px;
  }

  #titleName{
    font-size: 80px;
  }
  .nav{
    
    justify-content: right;
    padding-bottom:20px;
 
  

  }


  ul {
    margin: 0;
  
    
  }
  ul.nav.nav-tabs{
    margin:0;
    display: inline;
   

  }
  .nav-item{
    padding-right:130px;
    height:100%;
    text-decoration: none;
    display:inline-block;
    padding:20px;
vertical-align:top; 
  float:right;
  height:50px;
   
  
  }

  .nav-link{
      color:  #282c34;

      text-decoration: none;
  }

  li{
      list-style: none;
      text-decoration: none;
      float: left;
      
  }
